.content img{
    margin-top:-2%;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 1705px;
}
.content{
    background-color:#F8F8FF;
    width: 100%;
    height: 730px;
}
.content form{
    margin: auto;
    border-color:yellow;
    width: 200px;
    height: 200px;
    border-radius:8px; 
}
.button {
    width: 100px;
    height: 50px;
}
.text{
    width: 200px;
    height: 50px;
}