
.container {
    
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}



.dropdown {
    float: left;
    overflow: hidden;
}
.dropup {
    float: left;
    overflow: hidden;
}
.dropmid {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn ,.dropup .dropsel,.dropmid .dropmsg{
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 80px;
    background-color: inherit;
}


.dropmid:hover .dropmsg, .dropdown:hover .dropbtn,  .dropup:hover .dropsel{
    background-color: red;
}


.dropdown-content,.dropup-content ,.dropmid-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a ,.dropup-content a,.dropmid-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover ,.dropup-content a:hover,.dropmid-content a:hover {
    background-color: #ddd;
}


.show {
    display: block;
}

